
.idea/ComposeFest2021.iml

.idea/modules.xml

.idea/vcs.xml

.DS_Store

week1-basics/.idea/misc.xml

week1-basics/.idea/

week 2-1-Layouts in JetpackCompose/.idea/misc.xml

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/dependencies-accessors/gc.properties

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/fileChanges/last-build.bin

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/fileHashes/fileHashes.bin

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/fileHashes/fileHashes.lock

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/gc.properties

week 2-2-Using state in Jetpack Compose/.gradle/buildOutputCleanup/buildOutputCleanup.lock

week 2-2-Using state in Jetpack Compose/.gradle/buildOutputCleanup/cache.properties

week 2-2-Using state in Jetpack Compose/.gradle/checksums/checksums.lock

week 2-2-Using state in Jetpack Compose/.gradle/vcs-1/gc.properties

week 2-2-Using state in Jetpack Compose/.idea/.name

week 2-2-Using state in Jetpack Compose/.idea/compiler.xml

week 2-2-Using state in Jetpack Compose/.idea/gradle.xml

week 2-2-Using state in Jetpack Compose/.idea/jarRepositories.xml

week 2-2-Using state in Jetpack Compose/.idea/misc.xml

week 2-2-Using state in Jetpack Compose/.idea/modules.xml

week 2-2-Using state in Jetpack Compose/.idea/vcs.xml

week 2-2-Using state in Jetpack Compose/.idea/workspace.xml

week 2-2-Using state in Jetpack Compose/local.properties

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/executionHistory/executionHistory.bin

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/executionHistory/executionHistory.lock

week 2-2-Using state in Jetpack Compose/.gradle/7.1.1/fileHashes/resourceHashesCache.bin

week 2-2-Using state in Jetpack Compose/.gradle/buildOutputCleanup/outputFiles.bin

week 2-1-Layouts in JetpackCompose/.idea/gradle.xml

week 2-2-Using state in Jetpack Compose/.gradle/checksums/md5-checksums.bin

week 2-2-Using state in Jetpack Compose/.gradle/checksums/sha1-checksums.bin

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_activity_activity_1_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_activity_activity_compose_1_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_animation_animation_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_animation_animation_core_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_foundation_foundation_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_foundation_foundation_layout_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_material_material_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_material_material_icons_core_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_material_material_icons_extended_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_material_material_ripple_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_runtime_runtime_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_runtime_runtime_livedata_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_runtime_runtime_saveable_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_geometry_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_graphics_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_text_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_data_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_tooling_preview_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_compose_ui_ui_unit_1_0_4_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_core_core_1_6_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_core_core_ktx_1_6_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_databinding_viewbinding_7_0_3_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_3_5_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_3_6_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_compose_2_4_0_rc01_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_savedstate_savedstate_ktx_1_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_6_3.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_auto_value_auto_value_annotations_1_7_4.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_3_3.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_5_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_guava_guava_28_1_android.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_guava_guava_30_1_android.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_truth_truth_1_0_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_google_truth_truth_1_1_2.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_googlecode_java_diff_utils_diffutils_1_3_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__junit_junit_4_12.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__junit_junit_4_13_2.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_5_5.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_checkerframework_checker_qual_3_9_1.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_18.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_31.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_31.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_31.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_31.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_5_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_5_0.xml

week 2-2-Using state in Jetpack Compose/.idea/libraries/Gradle__org_ow2_asm_asm_9_0.xml

week 2-2-Using state in Jetpack Compose/.idea/modules/finished/StateCodelab.finished.iml

week 2-2-Using state in Jetpack Compose/.idea/modules/start/StateCodelab.start.iml

week 2-2-Using state in Jetpack Compose/.idea/modules/StateCodelab.iml

week 2-2-Using state in Jetpack Compose/.idea/modules/week 2-2-Using state in Jetpack Compose.iml

week 2-2-Using state in Jetpack Compose/.idea/inspectionProfiles/Project_Default.xml

week 3-1-Jetpack Compose theming/.gradle/7.1.1/dependencies-accessors/dependencies-accessors.lock

week 3-1-Jetpack Compose theming/.gradle/7.1.1/dependencies-accessors/gc.properties

week 3-1-Jetpack Compose theming/.gradle/7.1.1/executionHistory/executionHistory.bin

week 3-1-Jetpack Compose theming/.gradle/7.1.1/executionHistory/executionHistory.lock

week 3-1-Jetpack Compose theming/.gradle/7.1.1/fileChanges/last-build.bin

week 3-1-Jetpack Compose theming/.gradle/7.1.1/fileHashes/fileHashes.bin

week 3-1-Jetpack Compose theming/.gradle/7.1.1/fileHashes/fileHashes.lock

week 3-1-Jetpack Compose theming/.gradle/7.1.1/fileHashes/resourceHashesCache.bin

week 3-1-Jetpack Compose theming/.gradle/7.1.1/gc.properties

week 3-1-Jetpack Compose theming/.gradle/buildOutputCleanup/buildOutputCleanup.lock

week 3-1-Jetpack Compose theming/.gradle/buildOutputCleanup/cache.properties

week 3-1-Jetpack Compose theming/.gradle/buildOutputCleanup/outputFiles.bin

week 3-1-Jetpack Compose theming/.gradle/checksums/checksums.lock

week 3-1-Jetpack Compose theming/.gradle/checksums/sha1-checksums.bin

week 3-1-Jetpack Compose theming/.gradle/vcs-1/gc.properties

week 3-1-Jetpack Compose theming/.idea/.name

week 3-1-Jetpack Compose theming/.idea/compiler.xml

week 3-1-Jetpack Compose theming/.idea/gradle.xml

week 3-1-Jetpack Compose theming/.idea/jarRepositories.xml

week 3-1-Jetpack Compose theming/.idea/misc.xml

week 3-1-Jetpack Compose theming/.idea/vcs.xml

week 3-1-Jetpack Compose theming/.idea/week 3-1-Jetpack Compose theming.iml

week 3-1-Jetpack Compose theming/.idea/workspace.xml

*.xml

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/dependencies-accessors/

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/executionHistory/executionHistory.bin

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/executionHistory/executionHistory.lock

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/fileChanges/last-build.bin

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/fileHashes/fileHashes.bin

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/fileHashes/fileHashes.lock

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/fileHashes/resourceHashesCache.bin

week 3-2-Jetpack Compose Animation/.gradle/7.1.1/gc.properties

week 3-2-Jetpack Compose Animation/.gradle/buildOutputCleanup/buildOutputCleanup.lock

week 3-2-Jetpack Compose Animation/.gradle/buildOutputCleanup/cache.properties

week 3-2-Jetpack Compose Animation/.gradle/buildOutputCleanup/outputFiles.bin

week 3-2-Jetpack Compose Animation/.gradle/checksums/checksums.lock

week 3-2-Jetpack Compose Animation/.gradle/checksums/md5-checksums.bin

week 3-2-Jetpack Compose Animation/.gradle/checksums/sha1-checksums.bin

week 3-2-Jetpack Compose Animation/.idea/.name

week 3-2-Jetpack Compose Animation/local.properties

week 3-2-Jetpack Compose Animation/.gradle/vcs-1/gc.properties
